@font-face {
  font-family: "iconfont"; /* Project id 4125778 */
  src: url('iconfont.woff2?t=1760963833569') format('woff2'),
       url('iconfont.woff?t=1760963833569') format('woff'),
       url('iconfont.ttf?t=1760963833569') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warning:before {
  content: "\e668";
}

.icon-info:before {
  content: "\e66c";
}

.icon-aspect_9_16:before {
  content: "\e65f";
}

.icon-aspect_2_3:before {
  content: "\e660";
}

.icon-aspect_4_5:before {
  content: "\e662";
}

.icon-aspect_3_4:before {
  content: "\e663";
}

.icon-aspect_4_3:before {
  content: "\e664";
}

.icon-aspect_3_2:before {
  content: "\e665";
}

.icon-aspect_1_1:before {
  content: "\e667";
}

.icon-aspect_5_4:before {
  content: "\e669";
}

.icon-aspect_16_9:before {
  content: "\e66b";
}

.icon-resize:before {
  content: "\e718";
}

.icon-template:before {
  content: "\e8a6";
}

.icon-error-line:before {
  content: "\e868";
}

.icon-success-line:before {
  content: "\e88c";
}

.icon-yunjing:before {
  content: "\e69b";
}

.icon-action:before {
  content: "\e658";
}

.icon-dancing:before {
  content: "\e659";
}

.icon-running:before {
  content: "\e65e";
}

.icon-shuziren:before {
  content: "\e6df";
}

.icon-cube:before {
  content: "\e72c";
}

.icon-tag:before {
  content: "\e657";
}

.icon-tencent:before {
  content: "\e655";
}

.icon-baidu:before {
  content: "\e656";
}

.icon-moderation:before {
  content: "\e6c6";
}

.icon-back-bold:before {
  content: "\e654";
}

.icon-back-circle:before {
  content: "\e653";
}

.icon-back:before {
  content: "\e6c8";
}

.icon-openai:before {
  content: "\e652";
}

.icon-power:before {
  content: "\e651";
}

.icon-jimeng2:before {
  content: "\eabc";
}

.icon-jimeng:before {
  content: "\eabb";
}

.icon-video:before {
  content: "\e63f";
}

.icon-empty-box:before {
  content: "\e638";
}

.icon-check2:before {
  content: "\e7e2";
}

.icon-creator:before {
  content: "\e6a1";
}

.icon-withdraw:before {
  content: "\e689";
}

.icon-withdraw-log:before {
  content: "\e635";
}

.icon-money:before {
  content: "\e831";
}

.icon-doller:before {
  content: "\e633";
}

.icon-wallet:before {
  content: "\e64d";
}

.icon-check:before {
  content: "\e810";
}

.icon-refuse:before {
  content: "\e629";
}

.icon-Reject:before {
  content: "\e70d";
}

.icon-clock:before {
  content: "\e65d";
}

.icon-eye-close:before {
  content: "\e7aa";
}

.icon-eye-open:before {
  content: "\e7ab";
}

.icon-list:before {
  content: "\e650";
}

.icon-categroy:before {
  content: "\e620";
}

.icon-zhankai:before {
  content: "\e632";
}

.icon-wechat-mini:before {
  content: "\e63d";
}

.icon-niutou:before {
  content: "\e64c";
}

.icon-qiniu:before {
  content: "\e62c";
}

.icon-storage:before {
  content: "\e69a";
}

.icon-localstorage:before {
  content: "\ea8d";
}

.icon-minio:before {
  content: "\e855";
}

.icon-aliyun:before {
  content: "\e672";
}

.icon-sms:before {
  content: "\e82c";
}

.icon-duanxin:before {
  content: "\e65c";
}

.icon-yanzm:before {
  content: "\e625";
}

.icon-yaoqm:before {
  content: "\e66e";
}

.icon-epay:before {
  content: "\e628";
}

.icon-coze:before {
  content: "\e61b";
}

.icon-token:before {
  content: "\e68e";
}

.icon-reset:before {
  content: "\e649";
}

.icon-stats:before {
  content: "\e878";
}

.icon-keling:before {
  content: "\eab7";
}

.icon-gitee:before {
  content: "\e6d0";
}

.icon-redeem:before {
  content: "\e61a";
}

.icon-login:before {
  content: "\e636";
}

.icon-present:before {
  content: "\e648";
}

.icon-icon-warning:before {
  content: "\e671";
}

.icon-help:before {
  content: "\e64a";
}

.icon-success:before {
  content: "\e61e";
}

.icon-error:before {
  content: "\e64e";
}

.icon-house:before {
  content: "\e619";
}

.icon-vip4:before {
  content: "\e684";
}

.icon-vip1:before {
  content: "\f90b";
}

.icon-vip2:before {
  content: "\fabb";
}

.icon-vip3:before {
  content: "\10135";
}

.icon-conversation:before {
  content: "\e617";
}

.icon-arrow-down:before {
  content: "\e615";
}

.icon-arrow-up:before {
  content: "\e616";
}

.icon-refresh:before {
  content: "\e90c";
}

.icon-refresh-bold:before {
  content: "\e614";
}

.icon-copy:before {
  content: "\e720";
}

.icon-new-chat:before {
  content: "\e613";
}

.icon-expand:before {
  content: "\e7a0";
}

.icon-colspan:before {
  content: "\e79e";
}

.icon-question:before {
  content: "\e8e9";
}

.icon-AIduihua_jihuo:before {
  content: "\e6bb";
}

.icon-MidJourney:before {
  content: "\e60e";
}

.icon-stable-diffusion:before {
  content: "\e60f";
}

.icon-more-horizontal:before {
  content: "\e60d";
}

.icon-xinghao:before {
  content: "\e8d6";
}

.icon-plus:before {
  content: "\e61f";
}

.icon-plus-circle:before {
  content: "\e822";
}

.icon-taiyang:before {
  content: "\e60b";
}

.icon-yueliang:before {
  content: "\e679";
}

.icon-prev-page:before {
  content: "\e8ef";
}

.icon-next-page:before {
  content: "\e8f0";
}

.icon-search:before {
  content: "\e618";
}

.icon-sub_menu:before {
  content: "\e75e";
}

.icon-google:before {
  content: "\ea0c";
}

.icon-linggan:before {
  content: "\e641";
}

.icon-chuangzuo:before {
  content: "\e6cc";
}

.icon-call:before {
  content: "\e769";
}

.icon-hung-up:before {
  content: "\e609";
}

.icon-paypal:before {
  content: "\e666";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-qq:before {
  content: "\e69f";
}

.icon-jd-pay:before {
  content: "\e8dd";
}

.icon-luma:before {
  content: "\e704";
}

.icon-exchange:before {
  content: "\e6f5";
}

.icon-merge:before {
  content: "\e901";
}

.icon-upload:before {
  content: "\e611";
}

.icon-concat:before {
  content: "\e630";
}

.icon-email:before {
  content: "\e670";
}

.icon-mobile:before {
  content: "\e79a";
}

.icon-drag:before {
  content: "\e8ec";
}

.icon-move:before {
  content: "\e6fd";
}

.icon-link:before {
  content: "\e6b4";
}

.icon-app:before {
  content: "\e64f";
}

.icon-pause:before {
  content: "\e693";
}

.icon-prev:before {
  content: "\e6a5";
}

.icon-next:before {
  content: "\e6a7";
}

.icon-play:before {
  content: "\e6a8";
}

.icon-remove:before {
  content: "\e82b";
}

.icon-edit:before {
  content: "\e61d";
}

.icon-download:before {
  content: "\e83a";
}

.icon-more-vertical:before {
  content: "\e8cb";
}

.icon-share1:before {
  content: "\e661";
}

.icon-suno:before {
  content: "\e608";
}

.icon-mp3:before {
  content: "\e6c4";
}

.icon-mp4:before {
  content: "\e647";
}

.icon-control-simple:before {
  content: "\e624";
}

.icon-mic-bold:before {
  content: "\e683";
}

.icon-mic-thin:before {
  content: "\e8c2";
}

.icon-attachment-cl:before {
  content: "\e66a";
}

.icon-attachment-st:before {
  content: "\e63b";
}

.icon-speaker:before {
  content: "\e607";
}

.icon-clear:before {
  content: "\e900";
}

.icon-bbs:before {
  content: "\e623";
}

.icon-license:before {
  content: "\e65a";
}

.icon-more:before {
  content: "\e63c";
}

.icon-mj:before {
  content: "\e643";
}

.icon-dalle:before {
  content: "\e646";
}

.icon-xmind:before {
  content: "\e610";
}

.icon-version:before {
  content: "\e68d";
}

.icon-sd:before {
  content: "\e62b";
}

.icon-huihua1:before {
  content: "\e606";
}

.icon-chat:before {
  content: "\e68a";
}

.icon-prompt:before {
  content: "\e6ce";
}

.icon-share-bold:before {
  content: "\e626";
}

.icon-cancel-share:before {
  content: "\e682";
}

.icon-xls:before {
  content: "\e678";
}

.icon-file:before {
  content: "\e62f";
}

.icon-doc:before {
  content: "\e6c2";
}

.icon-pdf:before {
  content: "\e6c3";
}

.icon-ppt:before {
  content: "\e642";
}

.icon-txt:before {
  content: "\e644";
}

.icon-sql:before {
  content: "\e65b";
}

.icon-md:before {
  content: "\e63a";
}

.icon-loading:before {
  content: "\e627";
}

.icon-alipay:before {
  content: "\e634";
}

.icon-face:before {
  content: "\e64b";
}

.icon-book:before {
  content: "\e622";
}

.icon-vip-user:before {
  content: "\e605";
}

.icon-vip:before {
  content: "\e688";
}

.icon-cart:before {
  content: "\e603";
}

.icon-image-list:before {
  content: "\e601";
}

.icon-share:before {
  content: "\e63e";
}

.icon-palette:before {
  content: "\e6da";
}

.icon-palette-pen:before {
  content: "\e60c";
}

.icon-image:before {
  content: "\e7de";
}

.icon-order:before {
  content: "\e600";
}

.icon-service:before {
  content: "\e62d";
}

.icon-like:before {
  content: "\e640";
}

.icon-recharge:before {
  content: "\e637";
}

.icon-model:before {
  content: "\e867";
}

.icon-plugin:before {
  content: "\e69d";
}

.icon-quick-start:before {
  content: "\e677";
}

.icon-control:before {
  content: "\e69e";
}

.icon-bug:before {
  content: "\e645";
}

.icon-export:before {
  content: "\e791";
}

.icon-sub-menu:before {
  content: "\e86b";
}

.icon-wechat-pay:before {
  content: "\e639";
}

.icon-donate:before {
  content: "\e7ee";
}

.icon-reward:before {
  content: "\e6c7";
}

.icon-bell:before {
  content: "\e887";
}

.icon-home:before {
  content: "\e6cb";
}

.icon-menu:before {
  content: "\e6a6";
}

.icon-log:before {
  content: "\e61c";
}

.icon-user-fill:before {
  content: "\e7d5";
}

.icon-user-circle:before {
  content: "\e860";
}

.icon-chart:before {
  content: "\e631";
}

.icon-wechat:before {
  content: "\e621";
}

.icon-config:before {
  content: "\e612";
}

.icon-api-key:before {
  content: "\e7d8";
}

.icon-role:before {
  content: "\e60a";
}

.icon-dashboard:before {
  content: "\e602";
}

.icon-password:before {
  content: "\e62a";
}

.icon-send:before {
  content: "\e604";
}

.icon-logout:before {
  content: "\e62e";
}

.icon-github:before {
  content: "\e66f";
}

